/* 스크롤바 구현 보류 */
/* ai 메시지 간 좁은 간격 미구현, 상단 32px 임시처리 */

button {
  cursor: pointer;
}

#mainContent {
  display: flex; 
  flex: 1;
}

/* 사이드바 펼침 */
#sidebar {
  display: flex;
  width: 367px;
  height: 100vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #EBE4D4; 
  padding: 10px 0; 
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #E0E0E0;
}

#sidebar.expanded{
  width: 367px;
}

#sidebar.collapsed{
  width: 80px;
}

/* 사이드바 접음 */
#collapsedSidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  background-color: #EBE4D4;
  padding: 10px 0;
  border-right: 1px solid #E0E0E0;
}


/* 메인 타이틀, 사이드바 접기 영역 */
#TitleBox{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 315px;
  margin: 16px 20px;
}

/* 서비스 메인 타이틀 */
#Maintitle{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  height: 40px;
  padding-left: 26px;
  padding-right: 26px;
  gap: 8px;
}

#Mainlogo{
  height: 23px;
  width: 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/taroyaki-icon.png');
}

/* 서비스 메인 타이틀 */
#MainTitleText{
  text-align: left;
  font-family: "Red Rose", serif;
  font-size: 24px;
  font-weight: 700;
  color: #242529;
}

/* 접기 버튼 */
#collapseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 0px;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

/* 접기 버튼 아이콘 */
#collapseBtnIcon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dsidebar%2C+size%3D40%2C+state%3Ddefault.png');
  transition: 0.3s ease;
}

/* 접기 버튼 호버 */
#collapseBtn:hover{
background-color: #E2DBCC;
}

#collapseBtn:hover #collapsedBtnIcon{
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dsidebar%2C+size%3D40%2C+state%3Dhover.png');
}


/* 사이드바 및 모달 가로 구분선 */
.divLine{
  height: 1px;
  width: 100%;
  background-color: #E0E0E0;
}

/* 새 대화 시작 버튼 */
#newChatButton {
  display: inline-flex;
  align-items: center;
  position: static;      
  width: 327px;
  height: 55px;
  gap: 8px;
  background: #EBE4D4;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  padding: 14px 24px;
  margin: 16px 20px;
  color: #6A6456;
  transition: background-color 0.3s ease;
}

/* 새 대화 시작 버튼 호버 */
#newChatButton:hover {
  background-color: #E2DBCC;
  color: #6A6456;
}

/* 새 대화 시작 버튼 비활성화 */
#newChatButton.disabled,
#collapsedNewChatBtn.disabled {
    cursor: not-allowed;
}

/* 새 대화 시작 버튼 아이콘 */
#newChatButtonIcon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dnew_chat%2C+size%3D40%2C+state%3Ddefault.png');
  background-repeat: no-repeat;
  transition: 0.3s ease;
}

#newChatButton:hover #newChatButtonIcon{
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dnew_chat%2C+size%3D40%2C+state%3Dhover.png');
}

/* 세션 목록 박스 */
#sessionList{
  width: 367px;
  display: flex;
  flex-direction:column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px 0;
  /* max height 계산 
     - 상단 여백(10px)
     - TitleBox 높이(80px + 32px 마진)
     - 구분선 높이(1px)
     - newChatButton 높이(55px + 32px 마진)
     - 구분선 높이(1px)
     - SettingsButton 높이(55px + 32px 마진)
     - 하단 여백(10px) */
     max-height: calc(100vh - 308px);
}

#sessionLoadingIndicator {
  mix-blend-mode: multiply;
  transition: opacity 0.3s ease;
}

#sessionList {
  transition: opacity 0.3s ease;
}

/* 세션 목록 내 개별 세션 */
.session-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; 
  width: 279px;
  min-height: 27px;
  overflow: hidden;
  padding: 14px 24px;
  text-align: left;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #242529;
  transition: 0.3s ease; 
}
.session-item:hover {
  background-color: #E2DBCC;
}
.session-item.active {
  background-color: #38383A;
  color: #EBE4D4;
}
.delete-button {
  width: 13px;
  height: 13px;
  border: none;
  background: transparent;
  background-image: none;
  opacity: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

/* 삭제 아이콘 호버 */
.delete-button:hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dexit%2C+size%3D20%2C+state%3Dhover.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

/* 세션 마우스오버 시 삭제 아이콘 */
.session-item:hover .delete-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  opacity: 1;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dexit%2C+size%3D20%2C+state%3Ddefault.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 현재 세션에서 삭제 아이콘 호버 시 */
.session-item:active .delete-button:hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  opacity: 1;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dexit%2C+size%3D20%2C+state%3Dactive_2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 설정 버튼 */
#SettingsButton{
  display: inline-flex;
  align-items: center;
  position: absolute;
  width: 327px;
  height: 55px;
  bottom: 10px;
  padding: 14px 24px;
  gap: 8px;
  margin: 16px 0;
  background: #EBE4D4;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #242529;
  transition: background-color 0.3s ease;
  z-index: 1;
}

/* 설정 버튼 호버 시 */
#SettingsButton:hover{
  background-color: #E2DBCC;
  color: #242529;
}

/* 설정 버튼 내 아이콘 */
#SettingsButtonIcon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dsetting%2C+size%3D24%2C+state%3Ddefault.png');
  background-repeat: no-repeat;
  transition: 0.3s ease;
}

#SettingsButton:hover #SettingsButtonIcon{
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dsetting%2C+size%3D24%2C+state%3Dhover.png');
  background-repeat: no-repeat;
}

#collapsedlogo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

#collapsedlogoimg{
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-image:url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/taroyaki-icon.png');
  width: 23px;
  height: 23px;
}
/* 사이드바 접었을 때 - 버튼 공통 */
#collapsedSidebar button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 20px;
  border-radius: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

/* 사이드바 접었을 때 - 펼치기 버튼 */
#expandBtn{
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  transition: 0.3s ease;
}

#expandBtn:hover{
  background-color: #E2DBCC;
}

/* 사이드바 접었을 때 - 펼치기 버튼 아이콘*/
#expandBtnIcon{
  width: 21px;
  height: 18px;
  background-position: center;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dsidebar%2C+size%3D40%2C+state%3Ddefault.png');
}

/* 사이드바 접었을 때 - 펼치기 버튼 - 호버 */
#expandBtn:hover #expandBtnIcon{
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dsidebar%2C+size%3D40%2C+state%3Dhover.png');
  transition: 0.3s ease;
}

/* 사이드바 접었을 때 - 새 대화 버튼 */
#collapsedNewChatBtn{
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

#collapsedNewChatBtn:hover{
  background-color: #E2DBCC;
}

#collapsedNewChatBtnIcon {
  width: 21px;
  height: 21px;
  background-position: center;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dnew_chat%2C+size%3D40%2C+state%3Ddefault.png');
  transition: 0.3s ease;
}

/* 사이드바 접었을 때 - 새 대화 버튼 - 호버 */
#collapsedNewChatBtn:hover #collapsedNewChatBtnIcon{
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dnew_chat%2C+size%3D40%2C+state%3Dhover.png');
}

/* 사이드바 접었을 때 - 설정 버튼 */
#collapsedSettingsBtn{
  position: absolute;
  bottom: 10px;
  width: 40px;
  height: 40px;
}

#collapsedSettingsBtn:hover{
  background-color: #E2DBCC;
}

#collapsedSettingsBtnIcon{
  width: 21px;
  height: 21px;
  background-position: center;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dsetting%2C+size%3D40%2C+state%3Ddefault.png');
  transition: 0.3s ease;
}

/* 사이드바 접었을 때 - 설정 버튼 - 호버 */
#collapsedSettingsBtn:hover #collapsedSettingsBtnIcon{
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dsetting%2C+size%3D40%2C+state%3Dhover.png');
}

/* 가이드 영역 */
#serviceguide {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 278px; 
  background-color: #F9F5ED; 
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px; 
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #E0E0E0;
}

/* "질문 가이드" */
#GuideTitle{
  display: inline-flex;
  align-items: center;
  gap: 8px;
  height: 24px;
  margin-bottom: 26px;
}

#GuideTitleText{
  line-height: 132%;
  font-style: bold;
  font-size: 14px;
  font-weight: 600;
  color: #242529;
}

#GuideTitleIcon{
  width: 20px;
  height: 20px;
  background-position: center;
  background-image:url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dguide%2C+size%3D24%2C+state%3Ddefault.png')
}

#Guidebody{
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vh;
}

/* 베타테스트 관련 */
#Betaguide{
  width: 235px;
  border-radius: 16px;
  border: 1px solid #e21f1f;
  padding: 14px 19px;;
  margin-bottom: 16px;
}
#guide0title{
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  color: #242529;
  margin-bottom: 20px;
}

/* 질문 가이드 박스 */
#Guide1, #Guide2, #Guide3{
  width: 235px;
  border-radius: 16px;
  border: 1px solid #242529;
  padding: 14px 19px;;
  margin-bottom: 16px;
}

/* 질문 가이드 제목 */
#guide1title, #guide2title, #guide3title{
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  color: #242529;
  margin-bottom: 20px;
}


/* 가이드 내 plain text */
.guidetext, .g2li{
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #6A6456;
  margin-bottom: 4px;
}

/* 메인 영역 전체 wrapper */
#contentWrapper {
  display: flex;
  position: relative;
  background-color: #F9F5ED;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100vh;
  min-width: 400px;
}

/* 사용자 프로필 표시 영역 */
#ProfileBtn {
  position: absolute; 
  top: 20px;
  right: 20px;
  color: #FFFFFF;
  background-color: #242529;
  height: 36px;
  width: 36px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 160px;
  border: 0px;
}

/* 메시지 입력 및 전송 박스 */
#inputArea {
  box-sizing: border-box;
  position: absolute;
  bottom: 50px;
  flex-direction: row;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  align-items: center;
  height: 73px;
  width: 90%;
  background: #F3EEE4;
  border: 1.3px solid #7d7d7d;
  border-radius: 36.5px;
}

#inputArea.disabled {
  box-sizing: border-box;
  position: absolute;
  bottom: 50px;
  flex-direction: row;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  align-items: center;
  height: 73px;
  width: 90%;
  background: #F3EEE4;
  border: 1.3px solid #D5D1C8;
  border-radius: 36.5px;
}

#SendButton {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  width: 40px;            
  height: 40px;           
  margin-right: 15px;     
  background: transparent;
  border: 0px;
  cursor: pointer;        
}

#SendButtonIcon {
  width: 40px;           
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/send_default.png');
}

#SendButton:disabled #SendButtonIcon {
  cursor: not-allowed;
  width: 40px;
  height: 40px;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/send_block.png');
}

/* 대화 영역 */
/* margin-bottom = ??? */
#chatBox {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  /* absolute 대신 다음과 같이 변경 */
  position: relative;
  height: calc(100vh - 156px); /* 100vh에서 입력창 높이(73px), 하단 여백(50px), 경고 메시지 높이(약 33px), 상단 여백(100px) 제외 */
  padding: 70px 0 0px 0; /* 상단 여백, 하단에 입력창 + 경고메시지 공간 확보 */
  overflow-y: auto;
  box-sizing: border-box;
}


/* 말풍선 공통 */
.message {
  height: auto;
  max-width: 490px;
  padding: 12px 20px;
  margin-top: 32px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 16px;
  word-wrap: break-word;
  font-weight: 500;
}
.ai-message {
  align-self: flex-start;
  color: #6A6456;
  background-color: #E8E5DD;
  position: relative;
}
.user-message {
  align-self: flex-end;
  color: #242529;
  background-color: #FFFFFF;
}

.message-content {
  word-wrap: break-word;
}

.message-spacer {
  height: 100px;
  position: relative;
  margin-top: 32px;
  margin-left: 70px;
  margin-right: 70px;
}

.ai-indicator{
  position: absolute;
  left: 10px;
  bottom: 0%;
  /* transform: translateY(-50%); */
  font-size: 28px;
}

.user-message + .ai-indicator {
  position: relative;
  left: 70px;
  margin-top: 10px;
  margin-bottom: -20px; /* 다음 메시지와의 간격 조정 */
}

.typing-indicator {
  width: 120px;
  height: 60px;
  background-color: #eeeeee !important; /* ai-message의 배경색과 동일하게 */
  padding: 10px !important;
}

.typing-indicator.visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

#messageInput {
  flex: 1;
  height: 65px;
  margin-top: 2px;
  margin-left: 30px;
  margin-right: 15px;
  font-weight:500;
  border: 0px;
  background-color: transparent;
  width: 80%;
}
#messageInput:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#warningmsg {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15.84px;
  text-align: center;
  color: #7D7D7D;
}

#LoginBtn{
  position: absolute;
  bottom: 300px;
  width: 60px;
  height: auto;
  text-align: center;
  font-size: 14px;
  padding: 6px;
  background-color: #242529;
  color: #EBE4D4;
  border-radius: 60px;
  border: 0px transparent;
}


/* 프로필 모달 내 설정버튼 & 로그아웃버튼 */
#settingbtnB, #logoutbtn {
  background-color: transparent;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  transition: 0.3s ease;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

#settingbtnB:hover, #logoutbtn:hover{
  background-color: #E2DBCC;
}

/* 환경설정 모달 전체 */
.modalA {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modalA-content {
  position: relative;
  background-color: #EBE4D4;
  margin: 15% auto;
  padding: 40px;
  width: 486px;
  height: 446px;
  border-radius: 16px;
}

.modalA-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  position: relative;
}

#modalAtitle {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  justify-content: center;
  line-height: 40px; /* A header와 동일하게 */
}

.settingsclose {
  position: static;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#settingscloseicon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dexit%2C+size%3D20%2C+state%3Ddefault.png');
  transition: 0.3s ease;
}

#settingscloseicon:hover {
  background-image: url('https://yihoon-tarotchat-bucket.s3.us-east-1.amazonaws.com/icons/name%3Dexit%2C+size%3D20%2C+state%3Dhover.png');
}

#modalAtitle{
  font-size: 24px;
  padding-top: 0px;
  font-weight: 600;
}

#settingsbody{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.settingsbodytitle{
  color: #242529;
  font-size: 16px;
}

.settingsbodytext{
  color: #6A6456;
  background-color: transparent;
  border: 0px;
  font-size: 17px;
  margin: 12px 0px;
}

.emptyspace{
  height: 60px;
}
/* 프로필 모달 전체 */
.modalB {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  right: 20px;
  top: 64px;        /* ProfileBtn(36px) + 8px 여백 */
  min-width: 182px;
  max-width: 400px;
  height: auto;
  min-height: 160px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0,0,0,.2);
  border: none;
  border-radius: 10px;
}
  
/* 프로필 모달 내 콘텐츠 */
.modalB-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9F5ED;
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

#userinfo1 {
  color: #6A6456;
  white-space: nowrap;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.modalC {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modalC-content {
  background-color: #F9F5ED;
  margin: 15% auto;
  padding: 24px;
  width: 376px;
  height: 168px;
  border-radius: 16px;
}

#modalC-title{
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 24px;
}

#modalC-text{
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
}

#modalC-btns{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}
#cancelDelete{
  width: 180px;
  height: 48px;
  border-radius: 6px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #1D1D1D;
  background-color: rgba(34, 34, 34, 0.1);
}

#confirmDelete{
  width: 180px;
  height: 48px;
  border-radius: 6px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background-color: rgba(244, 37, 0, 1);
}
/* 프로필 모달 내 사용자 정보 */
.user-info1{
  color: #242529;
  padding: 15px;
}
.profileclose, .settingsclose {
  float: right;
  cursor: pointer;
}
